.category {
   
    width: 100%;
   
    

}

.category-title{
    margin-top: 50px;
    margin-bottom: 30px;
    

}

.category-ul{
    display: flex;
    flex-wrap: wrap; 
    
    gap: 30px;
    width: 100%

}


.category-img{ 
   width: 200px;
    border-radius: 5px;
    cursor: pointer;

}