.background {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.578);
  z-index: 6;
}

.dialog {
  position: fixed;
  inset: 0;
  margin: auto;
  border: none;
  border-radius: 5px;
  height: 50%;
  background-color: #161616;
  opacity: 0.9;
  padding: 50px;
  z-index: 9;
}

.dialog h2 {
  color: white;
  margin-bottom: 20px;
}
.dialog input {
  margin-bottom: 20px;
  background-color: black;
}

.dialog input {
  color: white;
  background-color: #161616;
  border: 1px solid white;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
}
 .dialog input.active-false{
  border: 3px solid red;
 }

 .dialog input.active-true{
  border: 3px solid green;
 }


.btn-ok {
  color: white;
  margin-top: 15px;
  background-color: red;
  padding: 5px;
  width: 100%;
  border: none;
  border-radius: 2px;
  border-width: 0px;
  cursor: pointer;
}

.btn-back {
  background-color: #161616;
  margin-top: 15px;
  color: white;
  padding: 5px;
  width: 100%;
  border: none;
  border-radius: 2px;
  border-width: 0px;
  cursor: pointer;
}

.dialog a {
  display: block;
  color: white;
  text-align: center;
  margin-top: 20px;
  cursor: pointer;
}
